[submodule "mpi-peerstore"]
	path = mpi-peerstore
	url = git@github.com:jolatechno/mpi-peerstore.git
[submodule "plugin/mpi"]
	path = plugin/mpi
	url = git@github.com:jolatechno/mpi.git
[submodule "core/mpi"]
	path = core/mpi
	url = git@github.com:jolatechno/mpi.git
[submodule "core/mpi-peerstore"]
	path = core/mpi-peerstore
	url = https://github.com/jolatechno/mpi-peerstore.git
[submodule "core/store/peerstore"]
	path = core/store/peerstore
	url = https://github.com/jolatechno/mpi-peerstore
[submodule "libp2p-mpi-core"]
	path = libp2p-mpi-core
	url = https://github.com/jolatechno/libp2p-mpi-core.git
